 


header {
	width: 700px;
	height:100px;
	padding:10px;
	background:none;
	color:black;
	margin:0 auto;
	margin-bottom:0px;
	margin-top:10px;
	position:relative;
 }
}
div.header {
	color:black;
	margin: 0 auto;
	position:relative;
	background-color:blue;
	
 }
 .nav {
	 background:none;
	 width:100%;
	  margin-left:40px;
 text-align: center;
 font-family: times new roman;
 position:static;

 } 
 .nav ul {
 background:none;
 list-style: none;
 position:absolute;
 display: inline-table;

 }
 
 .nav ul li
 {
 float:left;
 }

 .nav ul li:hover a{
 color:#ff5500;
 font-size:1.3em;
font-family:Georgia, "Times New Roman", Times, serif;
 }

 .nav ul li a{
	 
	 font-size:1em;
 display: block;
 padding-left:20px;
 padding-right:20px;
 margin-top:0px;
 color: #fff;
 text-decoration: none;
 }
 
 body {
	font-family: frankRuehl;
	background-image:url(../../image/image6.jpg);
	width:95%;
	margin: 0;
	padding: 0;
	color: #000;
}


.container
{ 
	width: 100%;
	height:400px;
	background:none;
	color:black;
	padding:20px;
	margin: 0 auto;
	position:relative;
 }
 
 h1 {color:#fff;
 margin-top:0px;
 text-align:center;
 font-size:4em;
 }

a.brand {color:#ff5500;
font-family:nyala}

h2 {color:#ff5500;
 margin-top:150px;
 text-align:center;
 font-size:3em;
 font-family:nyala;
 } 
 .containers
{ 
	width: 9%;
	height:50px;
	background:none;
	color:black;
	padding:20px;
	margin: 0 auto;
	position:relative;
 }
 p
 { color:white;
 font-size:1.2em;
 }


 .footer {
	width: 80%;
	height:20px;
	color:white;
	margin: 0 auto;
	position:relative;
	background:none; 
	margin:0 auto;
	margin-top:10px;
	margin-bottom:0px;
	padding-top:20px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
 height:40px;
 text-align: center;
 font-family: arial;
 position:static;
 }